<%- layout("/layouts/boilerplate")%>
<body>
    <form class="filters">
        <p class="align-self-center"><b>Filters:</b></p>
            <div class="filter">
                <b>Categories</b>
                <select class="form-select" class="categories">
                        <option selected>categories</option>
                        <option>All</option>
                        <option value="Software Engineering">Software Engineering </option>
                        <option value="Marketing">Marketing</option>
                        <option value="Data Science">Data Science</option>
                        <option value="Content Writing">Content Writing</option>
                        <option value="Graphic Design">Graphic Design</option>
                        <option value="Cybersecurity">Cybersecurity</option>
                        <option value="HR">HR</option>
                        <option value="Finance">Finance </option>
                        <option value="AI">AI</option>
                        <option value="Full-Stack">Full-Stack</option>
                        <option value="Event Management">Event Management</option>
                        <option value="Machine Learning">Machine Learning</option>
                        <option value="Mobile App"> Mobile App</option>
                        <option value="Social Media">Social Media</option>
                        <option value="Product Management">Product Management</option>
                        <option value="Business Analyst">Business Analyst</option>
                        <option value="Research">Research </option>
                </select>
            </div>
            <div class="filter">
                <b>Duration:</b>
                <select class="form-select" name="duration">
                        <option selected>duration</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                </select>
            </div>
            <div class="filter">
                <b>Location</b>
                <select class="form-select" name="location">
                        <option value='{"city":"Boston","country":"USA"}'>Boston, USA</option>
                        <option value='{"city":"Los Angeles","country":"USA"}'>Los Angeles, USA</option>
                        <option value='{"city":"Montreal","country":"Canada"}'>Montreal, Canada</option>
                        <option value='{"city":"Manchester","country":"UK"}'>Manchester, UK</option>
                        <option value='{"city":"Barcelona","country":"Spain"}'>Barcelona, Spain</option>
                        <option value='{"city":"Munich","country":"Germany"}'>Munich, Germany</option>
                        <option value='{"city":"Rome","country":"Italy"}'>Rome, Italy</option>
                        <option value='{"city":"Seoul","country":"South Korea"}'>Seoul, South Korea</option>
                        <option value='{"city":"Shanghai","country":"China"}'>Shanghai, China</option>
                        <option value='{"city":"Mumbai","country":"India"}'>Mumbai, India</option>
                        <option value='{"city":"Delhi","country":"India"}'>Delhi, India</option>
                        <option value='{"city":"Melbourne","country":"Australia"}'>Melbourne, Australia</option>
                        <option value='{"city":"Nairobi","country":"Kenya"}'>Nairobi, Kenya</option>
                        <option value='{"city":"Buenos Aires","country":"Argentina"}'>Buenos Aires, Argentina</option>
                        <option value='{"city":"Istanbul","country":"Turkey"}'>Istanbul, Turkey</option>
                        <option value='{"city":"Copenhagen","country":"Denmark"}'>Copenhagen, Denmark</option>
                        <option value='{"city":"Lisbon","country":"Portugal"}'>Lisbon, Portugal</option>
                        <option value='{"city":"Wellington","country":"New Zealand"}'>Wellington, New Zealand</option>
                </select>
            </div>
            <button class="btn btn-outline-primary mx-3 align-self-center filter-btn">filter</button>
    </form>
    <br>
    <div class="d-flex flex-wrap justify-content-around p-2">
        <% for(enrichedInternship of enrichedInternships) {%>
        <div class="card intern-card" style="width: 20rem;">
           <div class="card-body">
                <div class="internship-text">
                    <h5 class="card-title"><%=enrichedInternship.title %></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%=enrichedInternship.company.companyName%></h6>
                    <p class="card-text"><%=enrichedInternship.location.city%>,<%=enrichedInternship.location.state%>,<%=enrichedInternship.location.country%></p>
                    <p class="card-text"><%=enrichedInternship.stipend%>/month</p>
                </div>
                <div class="border-top pt-3 indexcard-link">
                    <a href="/student/internship/<%=enrichedInternship._id%>" class="btn btn-primary">details</a>
                        <form method="post" action="/student/internship/<%=enrichedInternship._id%>">
                            <button class="btn btn-outline-primary mx-2">Apply</button>
                        </form>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</body>